@font-face {
	font-family: 'mott regular';
	src: url('/fonts/Mott-Regular.woff') format('woff');
}

@font-face {
	font-family: 'graphik bold';
	src: url('/fonts/Graphik-Bold.woff') format('woff');
}

@font-face {
	font-family: 'graphik medium';
	src: url('/fonts/Graphik-Medium.woff') format('woff');
}

html, body {
  margin: 0;
  background:#F9EF96;
  color:#fff;
  font-family: system-ui, sans-serif;
}

.scratch-stack {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,.35);
}

/* Nederst innhold */
.final-content {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 2rem;
}
.final-content h1 { 
    margin: 0 0 .5rem 0; 
    font-family: 'graphik regular';

}


.final-content p  { 
    font-family: 'graphik regular';
    background-color: #F9EF96;
    color: black;
}

/* Scratch-lag (sist i DOM ligger øverst) */
.scratch-layer {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%; 
  height: 100vh;
  display: block;
  cursor: crosshair;
  transition: opacity .3s ease;
}
.scratch-layer.unlocked {
  opacity: 0;
  pointer-events: none;
}

.bille-gif-1 {
  position: absolute;
  z-index: 3;
  width: 150px;       /* juster størrelse på billen */
  height: auto;
  left: 50%;          /* start midt på X-aksen */
  bottom: -200px;     /* litt utenfor bunnen */
  transform: translateX(-50%); /* sentrer nøyaktig */
  animation: fly-diagonal 32s linear;
}

/* Diagonal bane oppover mot høyre eller venstre */
@keyframes fly-diagonal {
  0% {
    transform: translateX(-100%) translateY(0) rotate(70deg);
  }
  100% {
    transform: translateX(50vw) translateY(-150vh) rotate(80deg);; /* så skrått mot høyre og opp */
  }
}

.bille-gif-2 {
  position: absolute;
  z-index: 3;
  width: 150px;
  height: auto;

top: 50%;
  right: -160px;  
  animation: fly-right-to-left 32s 25s linear;
}

@keyframes fly-right-to-left {
  0% {

    transform: translate(0, -50%) rotate(-20deg);
  }
  40% {
    transform: translate(-45vw, -60vh) rotate(-20deg);
  }
  70% {
    transform: translate(-80vw, -85vh) rotate(-8deg);
  }
  100% {
    transform: translate(-110vw, -100vh) rotate(-12deg);
  }
}

.bille-gif-3 {
  position: absolute;
  z-index: 3;
  width: 150px;
  height: auto;
  left: -120px;    
  bottom: -100px;      
  animation: fly-left-to-top 32s 45s linear;
}

@keyframes fly-left-to-top {
  0% {
    transform: translate(0, 0) rotate(80deg);
  }
  25% {
    transform: translate(15vw, -20vh) rotate(80deg);
  }
  50% {
    transform: translate(35vw, -45vh) rotate(80deg);
  }
  80% {
    transform: translate(50vw, -80vh) rotate(80deg);
  }
  100% {
    transform: translate(55vw, -100vh) rotate(80deg);
  }
}

.bille-gif-4 {
  position: absolute;
  z-index: 3;
  width: 150px;
  height: auto;

top: 50%;
  right: -160px;  
  animation: fly-right-to-left 32s 65s linear;
}

@keyframes fly-right-to-left {
  0% {

    transform: translate(0, -50%) rotate(-20deg);
  }
  40% {
    transform: translate(-45vw, -60vh) rotate(-20deg);
  }
  70% {
    transform: translate(-80vw, -85vh) rotate(-8deg);
  }
  100% {
    transform: translate(-110vw, -100vh) rotate(-12deg);
  }
}